body {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: hsl(233, 12%, 13%);
}

h2 {
    color: white;
    text-align: center;
    font-size: 30px;
}

h3 {
    font-size: 15px;
}

.bg_image {
    height: 100%;
    width: 50%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 90%;
    width: 70%;
    border-radius: 10px;
    background-color: hsl(12, 88%, 59%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    color: white;
    padding: 0 70px 0 20px;
    border: 3px solid white;
    border-radius: 30px;
}

.text {
    font-size: 17px;
    height: 50px;
    width: 70%;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .submit_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    border-radius: 30px;
    background-color: hsl(233, 12%, 13%);
    color: white;
    font-weight: 600;
    transition: 0.5s ease-in-out;
  }

  .submit_btn:hover {
    cursor: pointer;
    border: 2px solid hsl(233, 12%, 13%);
    background-color: transparent;
  }

  .sign_in {
    display: flex;
    gap: 20px;
  }

  @media screen and (max-width: 650px) {
    body {
        flex-direction: column;
        position: relative;
    }

    .bg_image {
        position: absolute;
        z-index: -1;
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .box {
        background-color: hsla(12, 88%, 59%, 0.461);
    }
  }